<div class="user-content">
  <h2 class="user-greeting">Welcome, <span class="user-name"><%=current_user.username%></span></h1>
  <h2 class="user-greeting">Here are your Vineyards and Wines!</h2>
  <div>
    <%@user.vineyards.each do |vineyard|%>
      <h3 class="vineyard-name"><a href="/vineyards/<%= vineyard.id %>"><%= vineyard.name %></a></h3>
  </div>
  <div>
    <% vineyard.wines.each do |wine| %>
      <i>Wine from <%= wine.vineyard.name %></i>
      <h3><a href="/wines/<%=wine.id%>"><%= wine.name %></a></h3>
    <%end%>
  </div>
  <%end%>
  <form action="/users/<%= @user.id %>/delete" method="post">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Account">

  </form>
  <h3> Continue on your wine Journey!</h3>
</div>
