<h1>Welcome, <%=current_user.username%></h1>

<h2>Here are your Vineyards and Wines!</h2>
<%@user.vineyards.each do |vineyard|%>
<h3><a href="/vineyards/<%= vineyard.id %>"><%= vineyard.name %></a></h3>
<br>
<br>
<br>
<% vineyard.wines.each do |wine| %>
<i>Wine from <%= wine.vineyard.name %></i>
<h3><a href="/wines/<%=wine.id%>"><%= wine.name %></a></h3>
<%end%>
<%end%>
<br>
<form action="/users/<%= @user.id %>/delete" method="post">
      <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Account">
</form>

<h3> Continue on your wine Journey!</h3>
<a class= "button" href="/vineyards/new">Add a Vineyard or Winery</a>
<br>
<a class= "button" href="/vineyards">Vineyard/Winery List</a>
<br>
<a class= "button" href="/wines/new">Add a Wine</a>
<br>
<a class= "button" href="/wines">Wine List</a>
<br>
<a href="/logout">Logout</a>
