<h1>Edit <%= @vineyard.name %></h1>
<form action="/vineyards/<%= @vineyard.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="vineyard[name]" value="<%= @vineyard.name %>">
  </div>
  <div>
    <label for="location">location:</label>
    <input type="text" name="vineyard[location]" value="<%= @vineyard.location %>">
  </div>
  <div>
    <label for="phone_number">Phone Number:</label>
    <input type="text" name="vineyard[phone_number]" value="<%= @vineyard.phone_number%>">
  </div>
  <div>
    <label for="review">Review:</label>
    <input type="text" name="vineyard[review]" value="<%= @vineyard.review %>">
  </div>
  <input type="submit" value="Submit">
</form>
