<% if flash.has?(:message) %>
  <p style="color:#c40707;"><%= flash[:message] %> </p>
<% end %>
<h2> Here are the most recent Vineyards and Wine Ratings </h2>
<% @vineyards.each do |vineyard| %>
<br>
<br>
<h2>Vineyard</h2>
<h3><a href="vineyards/<%= vineyard.id %>"><%= vineyard.name %></a></h3>
<h3>Located at: <%=vineyard.location%></h3>
<h3>Contact: <%=vineyard.phone_number%></h3>
<p>Review: <%=vineyard.review%></p>
<h2> Wines </h2>
<% vineyard.wines.each do |wine| %>
<h3><%=wine.name%></h3>
<h4>Rating: <%=wine.rating%> out of 5 stars</h4>
<br>
<%end%>
<%end%>


<a class= "button" href="/vineyards/new">Add a Vineyard or Winery</a>
<br>
<a class= "button" href="/vineyards">Vineyard/Winery List</a>
<br>
<a class= "button" href="/wines/new">Add a Wine</a>
<br>
<a class= "button" href="/wines">Wine List</a>
<br>
<a class= "button" href="<%= users/user.id %>">My Wines and Vineyards</a>
<br>
<a href="/logout">Log out</a>
