<% if flash.has?(:message) %>
  <p style="color:#c40707;"><%= flash[:message] %> </p>
<% end %>

<% @vineyards.each do |vineyard| %>
<a href="vineyards/<%= vineyard.id %>"><%= vineyard.name %></a>
<h3>Located at: <%=vineyard.location%></h3>
<h3>Contact: <%=vineyard.phone_number%></h3>
<p>Review: <%=vineyard.review%></p>

<h2> Wines </h2>
<% vineyard.wines.each do |wine| %>
<%=wine.name%>
<%end%>
<%end%>
