<div class="hero-color"></div>
<div class="top-img-container-vineyards">
</div>

<div class="vineyards-content">
  <div>
  <h2 class="vineyard-name"><%= @vineyard.name %></h2>
  <h3>Located at: <%= @vineyard.location %></h3>
  <h3>Contact: <%= @vineyard.phone_number %></h3>
  <p><strong>Review: <%= @vineyard.review %></strong></p>
  <div>
    <% if @vineyard.user == current_user %>
    <div>
      <button class="edit-btn" type="submit"><a class= "button" href="/vineyards/<%=@vineyard.id%>/edit">Edit Vineyard/Winery</a></button>
    </div>
      <form action="/vineyards/<%=@vineyard.id%>" method="POST">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button class= "delete-btn" type="submit">Delete Vineyard/Winery</button>
      </form>
  </div>
    <% end %>
  </div>
  <br>
</div>
