<h2><%= @vineyard.name %></h2>
<h3>Located at: <%= @vineyard.location %></h3>
<h3>Contact: <%= @vineyard.phone_number %></h3>
<p>Review: <%= @vineyard.review %></p>
<div>
  <% if @vineyard.user == current_user %>
    <form action="/vineyards/<%=@vineyard.id%>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <button type="submit">Delete Vineyard/Winery</button>
    </form>
  </div>
  <div>
    <button type="submit"><a class= "button" href="/vineyards/<%=@vineyard.id%>/edit">Edit Vineyard/Winery</a></button>
  </div>
  <% end %>
