<h2><%= @vineyard.name %></h2>
<h3>Located at: <%= @vineyard.location %></h3>
<h3>Contact: <%= @vineyard.phone_number %></h3>
<p>Review: <%= @vineyard.review %></p>
<br>
<% if @vineyard.user == current_user %>
  <form action="/vineyards/<%=@vineyard.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button type="submit">Delete Vineyard/Winery</button>
  </form>
  <br>
  <button type="submit"><a class= "button" href="/vineyards/<%=@vineyard.id%>/edit">Edit Vineyard/Winery</a></button>
<% end %>
<br>
<br>
<a class= "button" href="/vineyards/new">Add a Vineyard or Winery</a>
<br>
<a class= "button" href="/vineyards">Vineyard/Winery List</a>
<br>
<a class= "button" href="/wines/new">Add a Wine</a>
<br>
<a class= "button" href="/wines">Wine List</a>
<br>
<a class= "button" href="/users/<%= current_user.id %>">My Wines and Vineyards</a>
<br>
<a href="/logout">Logout</a>
