<% if flash.has?(:message) %>
  <p style="color:#c40707;"><%= flash[:message] %> </p>
<% end %>

<h1>Edit <%= @wine.name %></h1>

<form action="/wines/<%= @wine.id %>" method="POST">
<input type="hidden" name="_method" value="patch">
<label for="name">Name:</label>
<input type="text" name="wine[name]" required>
<br>
<label for="price_per_bottle">Price per Bottle: $ </label>
<input type="text" name="wine[price_per_bottle]" required></input>
<br>
<select name="wine[color]">
    <option value="Red">Red</option>
    <option value="White">White</option>
    <option value="Rose">Rose'</option>
</select>
<br>
<label for="scent">Scent(s):</label>
<input type="text" name="wine[scent]" required>
<br>
<label for="taste">Taste(s):</label>
<input type="text" name="wine[taste]" required>
<br>
<label for="summary">Final Thoughts:</label>
<input type="textarea" name="wine[summary]" required>
<br>
<p>Rating:</p>
  <select name="wine[rating]" value="N/A">
    <option value="1">1 star</option>
    <option value="2">2 stars</option>
    <option value="3">3 stars</option>
    <option value="4">4 stars</option>
    <option value="5">5 stars</option>
</select>
<br>
  <label>Select Vineyard</label>
<% current_user.vineyards.all.sort_by.each do |vineyard| %>
  <input type="radio" name="wine[vineyard_id]" id="<%= vineyard.name %>" value="<%=vineyard.id%>"><%=vineyard.name%></input>
<%end%>

<br></br>
  <label>or add another Vineyard</label>
  <br>
  <label for="name">Name:</label>
    <input  type="text" name="vineyard[name]" id="vineyard_name"></input>
    <br>
    <label for="location">location:</label>
    <input  type="text" name="vineyard[location]" id="vineyard_location"></input>
    <br>
    <label for="phone_number">Phone Number:</label>
    <input  type="text" name="vineyard[phone_number]" id="vineyard_phone_number"></input>
    <br>
    <label for="phone_number">Review:</label>
    <input  type="text" name="vineyard[review]" id="vineyard_review"></input>
  <br>
<input type="submit" value="Submit">
</form>
