<% if flash.has?(:message) %>
  <p style="color:#c40707;"><%= flash[:message] %> </p>
<% end %>
<h2> Here are the most recent Wines and Their vineyards </h2>
<% @wines.each do |wine| %>
<br>
<br>
<h2>Wine:</h2>
<h3><a href="/wines/<%=wine.id%>"><%= wine.name %></a></h3>
  <h2>Vineyard:</h2>
<h3><a href="vineyards/<%= wine.vineyard.id %>"><%= wine.vineyard.name %></a></h3>
<br>
<%end%>
<br>
<br>
<a class= "button" href="/vineyards/new">Add a Vineyard or Winery</a>
<br>
<a class= "button" href="/vineyards">Vineyard/Winery List</a>
<br>
<a class= "button" href="/wines/new">Add a Wine</a>
<br>
<a class= "button" href="/wines">Wine List</a>
<br>
<a class= "button" href="/users/<%= current_user.id %>">My Wines and Vineyards</a>
<br>
<a href="/logout">Logout</a>
