<% if flash.has?(:message) %>
  <p style="color:#c40707;"><%= flash[:message] %> </p>
<% end %>

<% current_user.wines.all.sort_by.each do |wine| %>
<br>
<br>
<h3>Wine:</h3>
<a href="/wines/<%=wine.id%>"><%= wine.name %></a>
  <h3>Vineyard:</h3>
<a href="vineyards/<%= wine.vineyard.id %>"><%= wine.vineyard.name %></a>
<br>
<a class= "button" href="/wines/<%=wine.id%>/edit">Edit</a>
<%end%>
<br>
<a class= "button" href="/wines/new">Add a new Wine</a>
<br>
<a href="/logout">Log out</a>
